<div class="container px-sm-0">
    <div class="col-6 mx-auto text-center">
        <h4>本当に退会しますか？</h4>
        <p>
            退会すると、会員登録情報や<br>
            これまでの購入履歴が閲覧できなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。
        </p>
        <div class="d-flex justify-content-center">
            <div><%= link_to "退会しない", my_page_path, class: 'btn btn-primary text-white' %></div>
            <div>
                <%= form_with model: @customer, url: withdraw_path, method: :patch do |f| %>
                <%= f.submit "退会する", class: 'btn btn-danger text-white ml-4' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
